---
import Timeline from "./Timeline.astro";
---

<Fragment>
  <h2>Bytes</h2>
  <p class="center">
    Quick Bytes - Random info that’s too short for a full post will be shared
    here.
  </p>
  <Timeline />
</Fragment>

<style>
  .center {
    text-align: center;
    text-transform: capitalize;
    margin-left: 1em;
    margin-right: 1em;
  }

  .heading-left {
    margin-left: 1em;
  }
</style>
