---
interface Props {
  path: string[];
}

const url =
  import.meta.env.MODE === "production" ? Astro.site : "http://localhost:4321/";
const { path } = Astro.props;
---

<section>
  <div class="section">Related Bytes:</div>
  {
    path &&
      path.length > 0 &&
      path.map((aPath: string) => (
        <a href={url + "bytes/" + aPath + "/"} class="navlink">
          {aPath}
        </a>
      ))
  }
</section>

<style>
  .section {
    font-weight: bold;
  }
</style>
