---
import { getReadingTimeForPosts } from "src/utils/getReadingTime";
import Card from "@components/blog/Card.astro";
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";

// Get all `src/content/blog/` entries
let postsCollection = await getCollection("posts", ({ data }) => !data.draft);

const posts = await getReadingTimeForPosts(postsCollection);
posts.sort(
  (a: any, b: any) =>
    Date.parse(b.data.pubDate.toDateString()) -
    Date.parse(a.data.pubDate.toDateString())
);
---

<Layout title="Blog" description="checkout my posts about various tech stuff">
  <h2>Write-Ups</h2>

  <div class="blog__container">
    {
      posts.map((aPost: any) => (
        <Card post={aPost.data} slug={aPost.slug}></Card>
      ))
    }
  </div>
</Layout>

<style>
  .blog__container {
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-block: 0em;
    margin-inline: 0em;
    padding-inline-start: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  @media screen and (max-width: 720px) {
    .blog__container {
      grid-template-columns: 1fr;
    }
  }

  .center {
    text-align: center;
    text-transform: capitalize;
  }
</style>
