<section>
  <h3>Side Quests</h3>

  <ul>
    <li>
      Shared about my journey - Guest on Ardan Labs podcast - <a
        class="navlink block"
        target="_blank"
        rel="noopener noreferrer"
        href="https://youtu.be/IjQtK97TyXY?si=jcuvxHLOVrbk7rYu"
      >
        link to the episode
      </a>
    </li>
    <li>
      MC (emcee) at 8th edition of ngIndia and 1st Edition of AI-India - 2026
    </li>
  </ul>
</section>

<style>
  a::after {
    content: "↗";
  }

  li {
    margin-bottom: 1em;
  }
</style>
