---
import { getCollection } from "astro:content";
const slides = await getCollection("slides");
---

<section>
  <h3>Slides</h3>

  <ul>
    {
      slides.map((aSlide) => (
        <li>
          {aSlide.data.description} &nbsp;
          <a href={aSlide.data.link} class="navlink block" target="_blank">
            link
          </a>
        </li>
      ))
    }
  </ul>
</section>
<style>
  a::after {
    content: "↗";
  }

  .block {
    display: block;
  }

  li {
    margin-bottom: 1em;
  }
</style>
