---
import Card from '../components/blog/Card.astro';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

// Get all `src/content/blog/` entries
const posts = await getCollection('posts');
---

<Layout title="Blog">
  Contains Long Form Posts

  <div class="blog__container">
    {
      posts.map((aPost) => (
      <Card post={aPost.data} slug={aPost.slug}>
      </Card>
      ))
    }
  </div>

</Layout>

<style>
  .blog__container {
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-block: 0em;
    margin-inline: 0em;
    padding-inline-start: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  @media screen and (max-width:720px) {
    .blog__container {
    grid-template-columns: 1fr;
    }
  }
</style>