---
import Card from '../components/project/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
  Personal Projects!
  <table>
    <tbody>
    <Card />
    <Card />
    <Card />
    <Card />
    </tbody>
  </table>

</Layout>

<style>


  table {
    width: 100%;
  }
</style>