<footer>
  <div class="footer__box">
    <span class="padding-left">© 2024 | Mystica</span>
    <span><a href="/rss.xml" class="navlink arrow">rss feed</a></span>
    <div class="padding-right">
      <button id="toggleMode">toggle </button>
    </div>
  </div>
  <span>made with <a href="https://astro.build/" target="_blank" class="navlink">astro</a> ❤️</span>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5em;
  }

  .footer__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: var(--content-width);
    margin: 1em;
    width: 100%;
  }

  .padding-left {
    padding-left: 1em;
  }

  .padding-right {
    padding-right: 1em;
  }

  .arrow::after {
    content: '↗';
  }

</style>

<script is:inline>

  const init = () => {

  const theme = (()=> {
    if (typeof localStorage != 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }

    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }

    return 'light';
  })();

  if (theme == 'light') {
    document.getElementById("toggleMode").innerText = "toggle dark";
    document.documentElement.classList.remove('dark');
  } else {
    document.getElementById("toggleMode").innerText = "toggle light";
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme',theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");

    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");

    const modeName = isDark ? "light" : "dark";
    document.getElementById("toggleMode").innerText = "toggle " + modeName;
  }

  document.getElementById("toggleMode").addEventListener('click',handleToggleClick);
  }

  document.addEventListener("DOMContentLoaded", () => init());
  document.addEventListener("astro:after-swap", () => init());

</script>