---
const pathname = new URL(Astro.request.url).pathname;
---
<header>
    <nav class="nav__box">
    <h1 class="home"><a href="/" class="navlink no-decor" class:list={["navlink", "no-decor", {active: pathname == "/" }]} >Mystica</a></h1>
    <ul>
      <li><a class:list={["navlink", {active: pathname == "/posts" }]} href="/posts">posts</a></li>
      <li><a class:list={["navlink", {active: pathname == "/bytes" }]} href="/bytes">bytes</a></li>
      <li><a class:list={["navlink", {active: pathname == "/projects" }]} href="/projects">projects</a></li>
      <li><a class:list={["navlink"]} href="/posts">about</a></li>
      </ul>
    </nav>
</header>

<style>
  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    position: fixed;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav__box {
    max-width: var(--content-width);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .no-decor {
    text-decoration: none;
  }

  @media screen and (max-width:320px) {
    .nav__box {
      flex-direction: column;
      align-items: flex-start;
    }

    ul {
      margin: 0;
      padding-left: 0.5em;
    }
  }

  ul {
    list-style: '/';
    display: flex;
    gap: 0.7em;
  }

  .home {
    text-transform: uppercase;
    font-size: 18px;
    text-align: rotateY(45deg);
    text-decoration: none;
    -webkit-text-stroke: 0.2px #000000;
    letter-spacing: 2px;
  }


</style>
