<main>
  <div class="main__container">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Pharetra senectus dapibus ac purus egestas torquent vehicula sodales. Justo montes eleifend cursus accumsan tristique eleifend primis. Gravida malesuada fringilla, interdum donec dictum dictum id. Velit at ultrices lectus, justo consequat dignissim laoreet class. Et suspendisse quam augue lobortis duis diam. Ante tincidunt pellentesque enim conubia rutrum luctus adipiscing. Nullam condimentum et urna risus primis. Aliquet purus semper ut blandit efficitur maximus habitasse aliquet.

Nam commodo posuere curae suspendisse quisque in rutrum. Class elit fermentum phasellus class proin platea dolor senectus viverra. Himenaeos magnis ante taciti commodo, mus pulvinar elit. Cras rutrum parturient eu aliquam, quisque elit. Nullam odio magnis nam hendrerit iaculis ornare? Class mus dignissim luctus lobortis nunc amet nascetur penatibus. Integer montes libero nascetur montes himenaeos aptent facilisi. Maecenas nullam ex sodales neque laoreet vehicula et semper libero. Class mauris bibendum magna tempor nisl.

Nascetur turpis iaculis fringilla felis euismod. Felis curae nibh dictum mollis tortor dictum cras. Mauris sit pretium aptent primis maecenas consectetur id. Fermentum finibus risus habitasse nunc elementum. Neque nascetur fermentum, tellus netus netus lectus. Condimentum lectus amet amet enim efficitur facilisis himenaeos metus litora. Praesent arcu habitant luctus lacinia rhoncus.

Penatibus semper ultricies luctus, natoque dolor erat neque pulvinar. Amet hendrerit bibendum pulvinar aliquam vitae iaculis nibh elit. Malesuada velit nec vel erat nulla posuere ridiculus. Nullam turpis libero mauris ultricies vehicula odio. Gravida platea tellus potenti ornare at mattis tincidunt. Lectus per efficitur inceptos; purus dictumst eu. Eu vehicula habitasse curabitur odio nullam finibus; neque sollicitudin. Rhoncus euismod nisl; congue felis nunc feugiat pharetra natoque. Luctus arcu placerat phasellus tempor auctor aliquet dictum aptent. Sagittis imperdiet pulvinar euismod per lectus.

Turpis nascetur et dolor fames senectus aenean tortor himenaeos condimentum. Elementum praesent a diam, pharetra odio dictum fringilla. Etiam nam nisl volutpat in vehicula risus senectus sociosqu. At id feugiat facilisis, quisque natoque urna condimentum aliquam. Tellus vestibulum vestibulum ridiculus turpis ultrices class habitasse litora. Tincidunt vestibulum mus magnis metus ultricies primis duis cras fringilla. Tristique penatibus egestas habitasse sollicitudin, laoreet a natoque platea dapibus.
  </div>
</main>

<style>

  main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .main__container {
    max-width: var(--content-width);
    width: 100%;
    margin-top: 72px;
  }
</style>