<main>
  <div class="main__container">
    <slot />
  </div>
</main>

<style>
  main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main__container {
    max-width: var(--content-width);
    width: calc(100% - 2em);
    margin: 1em;
    scroll-behavior: smooth;
  }
</style>
