---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="padding">
  {
    tags.map((aTag: string) => (
      <span class="tag">{aTag}</span>
    ))
  }
</div>

<style>
  .padding {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
  }

  .tag {
    font-size: 15px;
    padding: 0.4em;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 0.4em;
  }

  :global(.dark) .tag {
    background: #433f3f;
    border: 1px solid #2b2727;
  }
</style>