<div class="padding">
  <span class="tag">Network</span>
  <span class="tag">Webrtc</span>
  <span class="tag">Network</span>
  <span class="tag">Network</span>
  <span class="tag">Network</span>
</div>

<style>
  .padding {
    padding-left: 1em;
    padding-right: 1em;
  }

  .tag {
    font-size: 14px;
    padding: 0.2em;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  :global(.dark) .tag {
    background: #433f3f;
    border: 1px solid #2b2727;
  }
</style>