---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Main from "@components/Main.astro";
import Meta from "@components/Meta.astro";
import MoveToTop from "@components/MoveToTop.astro";
import "@fontsource-variable/inter";

interface Props {
  title: string;
  description: string;
  content?: string;
}

const { title, description, content } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta title={title} description={description} content={content} />
    <script is:inline>
      const savedTheme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;

      if (savedTheme === "dark" || (!savedTheme && prefersDark)) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
    <MoveToTop />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    line-height: 27px;
    -webkit-text-size-adjust: 100%; /* Prevent automatic text resizing on mobile devices */
    text-size-adjust: 100%;
    font-size: 1em;
  }
  :root {
    --content-width: 750px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --astro-bg-color: #000000;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter Variable", sans-serif;
  }

  html.dark {
    color: #fff;
    --astro-bg-color: #ffffff;
  }

  .navlink {
    text-underline-offset: 3px;
    color: #000000;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
  }

  .navlink:hover,
  .navlink:active,
  .active {
    text-shadow:
      0px 0px #ff4f4f,
      -2px -1px 1em #ff6b6b,
      1px -1px 0em #9100ff,
      0 0 1.5em #9100ff,
      0 0 2em #833ab4;
  }

  .dark .navlink {
    color: #ffffff;
  }
  .dark .navlink:hover,
  .dark .navlink:active,
  .dark .active {
    text-shadow:
      1px 1px 100px #af8d8d,
      0 0 1.5em #ffffff,
      0 0 0.5em #d6f4ff,
      0 0 2em #d6f4ff,
      0 0 3em #ffffff;
  }

  pre {
    padding: 8px 16px;
    overflow: auto;
    border-radius: 4px;
  }

  code {
    border-radius: 4px;
    direction: ltr;
    font-size: 14px;
  }

  pre > code {
    line-height: 1.5;
    word-break: normal;
    white-space: pre;
    word-spacing: normal;
    tab-size: 4;
  }

  .scroll-header {
    scroll-margin-top: 100px;
  }

  body {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  main {
    flex-grow: 1;
  }

  @media screen and (max-width: 440px) {
    .scroll-header {
      scroll-margin-top: 150px;
    }
  }

  /* there is weird background layout shift on android browser, to overcome that use fixed instead */
  body::before {
    background: radial-gradient(
        circle,
        transparent 90%,
        rgb(191 191 191 / 97%) 97%
      )
      0 0 / 20px 20px;

    background-size: 20px 20px;
    background-position: 20px 20px;
    display: block;
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .dark body::before {
    background: radial-gradient(circle, #000000 90%, rgb(40 40 40 / 87%) 97%) 0
      0 / 20px 20px;

    background-size: 20px 20px;
  }

  .dark .astro-code,
  .dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  /* since background fixed not supported in ios revert back to use scroll instead */
  @supports (-webkit-overflow-scrolling: touch) {
    body {
      position: relative;
      height: 100%;
      background: radial-gradient(
          circle,
          transparent 90%,
          rgb(191 191 191 / 97%) 97%
        )
        0 0 / 20px 20px scroll;

      background-size: 20px 20px;
      background-position: 20px 20px;
    }

    body::before {
      content: "";
      position: unset;
    }

    .dark body {
      background: radial-gradient(circle, #000000 90%, rgb(40 40 40 / 87%) 97%)
        0 0 / 20px 20px;
      background-size: 20px 20px;
    }
  }
</style>
